codespell==2.4.1
coverage==7.9.1
freezegun==1.5.2
mypy==1.16.1
numpy<3.0.0,>=2.0.0
pre-commit==4.2.0
pyserial-asyncio-fast==0.16
pytest-asyncio==1.0.0
pytest==8.4.1
ruff==0.12.1
tomli==2.2.1
tox==4.27.0
types-pyserial==3.5.0.20250326
