name: docs

on: [push, pull_request, workflow_dispatch]

permissions:
    contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Fetch tags
        run: |
          git fetch --prune --unshallow
          git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - uses: actions/setup-python@v4

      - name: Install dependencies
        run: |
          pip install pyplumio build sphinx sphinx-book-theme

      - name: Sphinx build
        run: |
          python -m build --sdist
          sphinx-build ./docs/source ./docs/build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build
          force_orphan: true
          cname: pyplumio.denpa.pro
